/*Information about name and logo Section*/

.logo-name-glence {
    padding: $paddingSection 0px;
    h2 {
        margin-bottom: $titleBottomMargin;
    }
    .logo img {
        min-width: 200px;
    }
}


/*Information about name and logo Section*/