$navbarColor: #572918;
$active: #ab8c81;
$textHoverColor: white;

$fontSize: 20px;
$textColor: white;


$brandHoverColor: #C10000;
$brandBackground: #222;
$logoWidth: 80px;

$phone_ScreenColor: #D50000;

$paddingSection: 150px;
$titleBottomMargin: 30px;

@import '_functions/_options.scss';
@import '_functions/_media.scss';
@import '_functions/_mixins.scss';
@import '_functions/_animate.scss';


@import '_loading.scss';
body
{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    background: #222;
    .newBody{
        display: none;
    }
    
    @import "_header.scss";
    @import "_navbar.scss";
    @import "_namelogoglence.scss";
    @import "_carousel.scss";
    @import "_timeline.scss";
}

@include keyframes(arrowDown){
    0%
    {
        transform: translateY(0px);
    }
    70%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0px);
    }
}



/*How am i Section*/
    
    .about-me .padding-top-down
    {
        margin: 20px 0px 20px 0px;
    }
    .about-me i{font-size: 38px} 
    
    .about-me div.like-input
    {
        position: relative;
        background: #222;
        /*padding: 10px 0px;*/
        border-radius: 10px;
        border: 1px solid #B4B5B7;
        width: 90%;
        height: 50px;
        overflow: hidden;
        line-height:50px;
        padding-right: 70px;
        display: inline-block;
        font-size: 16px;
    }
    .about-me div.like-input.text-Right
    {
        padding-left: 70px;
        padding-right: 0px;
    }
    .about-me .no-padding img
    {
        max-width: 80px;
        min-width: 100%; 
        background: #222;
        border: 2px solid #AF9779;
        border-radius: 30px;
        margin-top: 5px;
    }
    .about-me .profile-pic
    {
    }
    .about-me .fontawesome
    {
        position: absolute;
        top:1px;
        width: 60px;
        height: 48px;
        overflow: hidden;
        text-align: center;
        line-height: 50px;
        display: inline-block;
        background: rgba(181, 0, 0, 0.39);
        padding: 5px;
        margin-left:1px;
        border-radius: 10px;
        
    }
    .about-me .Left
    {
        right: 16px;
        border-left: 1px solid #B4B5B7;

    }
    .about-me .Right
    {
        left:16px;
        border-right: 1px solid #B4B5B7;

    }
/*How am i Section*/



/*Skills section*/    
    .skills
    {
        color: white;
    }
    .skills .circle
    {
        position: relative;
        width: 80px;
        height: 80px;
        margin: auto;
        margin-top: 50px;
    }
    .skills .persent
    {
        position: absolute;
        top: 30%;
        left: 21%;
        font-size: 24px;
    }
    .skills img
    {
        width: 80%;
        margin-top: 20px;

    }
/*Skills section*/


@import "_cursor.scss";

// Our Goal Section
    .our-goal
    {
        padding: $paddingSection 0px;
        color: $textColor;
        h1
        {
            margin-bottom: $titleBottomMargin;
        }
    }    
// Our Goal Section

/* Projects Section */
    .projects
    {
        color: $textColor;
        padding-bottom: $paddingSection;
        h1
        {
            padding-top: $paddingSection;
            margin-bottom: $titleBottomMargin;
        }
        h2
        {
            margin-bottom: $titleBottomMargin;
        }
        @import "_phone.scss";    
    }
/* Projects Section */

/*Contact-us Section*/
    .contact-us
    {
        padding-bottom: $paddingSection;
        h1
        {
            padding-top: $paddingSection;
        }
        color: $textColor;
        li
        {
            margin: 10px;
            display: block;
            a
            {
                color: white;
                transition: all 0.1s ease;
            }
            i
            {
                width: 40px;
                height: 40px;
                color: #AF977A;
            }
            &:hover
            {
                a
                {
                    text-decoration: none;
                    color: #AB8C81;
                    font-weight: bold;
                    font-size: 16px;
                }
                i
                {
                    color: #D9534F;
                }
            }
        }
        iframe
        {
            margin-top: 10px;
            transition: all 0.1s ease;
            border: 2px solid white;
            box-shadow:0px 2px 1px 0px rgba(255,255,255,0.5);
            transition: all 0.3s ease;
            &:hover
            {
                border: 2px solid #D9534F;
            }
        }
    }
/*Contact-us Section*/

/*Footer section*/
    .footer
    {
      color: white;
      padding: 8px;
    }
/*Footer section*/

/* Portfolio Section */
    .portfolio 
    {
        h1
        {
            color: white;
        }
        .portfolio-box
        {
            width: 100%;
            height: 350px;
            background: #444;
            position: relative;
            transition: all 0.2s ease-out;
            overflow: hidden;

            .caption
            {
                position: absolute;
                z-index: 99;
                background: rgba(0,0,0,0.9);
                width: 100%;
                top: 100%;
                bottom: 0%;
                left: 0px;
                transition: all 0.8s ease-out;
            }
            .portfolio-img
            {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
                transition: all 0.5s ease-out;
                -webkit-filter: grayscale(80%);
            }

            &:hover
            {
                cursor: pointer;
                box-shadow: 0px 0px 5px 2px #555;
                .caption
                {
                    top: 80%;
                    bottom: 0%;
                }
                .portfolio-img
                {
                    transform: scale(1.3) rotate(10deg);
                    -webkit-filter: grayscale(50%);
                }
            }
        }
    }
/* Portfolio Section */

/* Gellary Section */
    .gellary
    {
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: 100%;
        overflow: auto;
    }
    .gellary .myPortfolio
    {
        height: 150px;
        margin: 150px 20px 20px 20px;
    }
    .gellary .myPortfolio img
    {
        width: 100%;
        height: 150px;
    }
    .gellary .close-btn i
    {
        cursor: pointer;
        position: fixed;
        background: #222;
        border-radius: 50%;
        padding: 10px;
        z-index: 99;
        color: white;
        top: 9%;
        right: 5%;
    }
    .gellary .close-btn i:hover
    {
        color: #D70000;
    }
/* Gellary Section */






/*Frame Work profile card*/

    .background
    {
        background: #222 ;
        &:before{
            content: "";
            position: relative;
            z-index: 50;
            top: -65px;
            left: 45%;
            border-left: 70px solid transparent;
            border-right: 70px solid transparent;
            border-bottom: 50px solid #222;
        }
    }
    
    .background-2
    {
        background: #333 ;
        &:before{
            content: "";
            position: relative;
            z-index: 50;
            top: -65px;
            left: 45%;
            border-left: 70px solid transparent;
            border-right: 70px solid transparent;
            border-bottom: 50px solid #333333;
        }
    }
    .container-floud
    {
        width: 96%;
        margin: auto;
    }
    .padding-container
    {
        padding: 120px 0px;
    }
    .glance
    {   
        color: white;
        overflow: hidden;
        text-align: justify;
        text-align: center;
    }
    .text-bottom-margin
    {
        margin-bottom: 40px;
    }
    div.sperator
    {
        background: white;
        height: 2px;
        opacity: 0.7;
        margin: 80px auto;
    }

    .overlay { position: relative; z-index: 20; } /*done*/
    .ground-color { background: white; }  /*done*/
    .item-bg-color { background: #EAEAEA } /*done*/
    
    /* Padding Section*/
        .padding-top { padding-top: 10px; } /*done*/
        .padding-bottom { padding-bottom: 10px; }   /*done*/
        .padding-vertical { padding-top: 10px; padding-bottom: 10px; }
        .padding-horizontal { padding-left: 10px; padding-right: 10px; }
        .padding-all { padding: 10px; }   /*done*/

        .no-padding-left { padding-left: 0px; }    /*done*/
        .no-padding-right { padding-right: 0px; }   /*done*/
        .no-vertical-padding { padding-top: 0px; padding-bottom: 0px; }
        .no-horizontal-padding { padding-left: 0px; padding-right: 0px; }
        .no-padding { padding: 0px; }   /*done*/
    /* Padding Section*/

    /* Margin section */
        .margin-top { margin-top: 10px; }   /*done*/
        .margin-bottom { margin-bottom: 10px; } /*done*/
        .margin-right { margin-right: 10px; } /*done*/
        .margin-left { margin-left: 10px; } /*done*/
        .margin-horizontal { margin-left: 10px; margin-right: 10px; } /*done*/
        .margin-vertical { margin-top: 10px; margin-bottom: 10px; } /*done*/
        .margin-all { margin: 10px; }   /*done*/
        .no-margin { margin: 0px; }   /*done*/

        .no-vertical-margin { margin-top: 0px; margin-bottom: 0px; }
        .no-horizontal-margin { margin-left: 0px; margin-right: 0px; }

        .inside-col-shrink { margin: 0px 20px; }    /*done - For the inside sections that has also Title section*/ 
    /* Margin section */

/*Frame Work profile card*/

